extends base


block body
  h1 Login

  .errorDiv
    if error  
      p!= error[0].msg
  

  if error
    p.err #{error}

  form(method="post" autocomplete="off")
    span Email: 
    input(type="email", name="email", required=true)
    br

    span Password:
    input(type="password", name="password", required=true)
    input(type="hidden", name="_csrf", value="#{csrfToken}")
    br
    span password123
    br

    input(type="submit")
