extends base

block body
  h1 Create an Account

  style(type='text/css').
    .errorDiv, .err {
      color: red;
      margin-bottom: 2em;
    }
    
  .errorDiv
    if error  
      for err in error
        p!= err.msg


  if error
    p.err #{error}

  .frm
    form(method="post")
      span First Name:
      input(type="text", name="name", required=true)
      br

      span Email:
      input(type="email", name="email", required=true)
      br

      span Password:
      input(type="password", name="password", required=true)
      br

      input(type="submit")
